.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background: linear-gradient(to bottom right, #1e1b4b, #3b0764);
    color: white;
    
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background: linear-gradient(to right, #2e1065, #3b0764);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: white;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(236, 72, 153, 0.5);
}

.title {
    font-size: 1rem;
    font-weight: 500;
    color: #c084fc;
    margin-bottom: 0.5rem;
}

.value {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
    margin-top: 0.5rem;
}

.productName {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin-top: 0.5rem;
}

.productSales {
    color: #a5b4fc;
    margin-top: 0.25rem;
}


.productList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loadingCard {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    height: 8rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
